.outputWrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--chat-background);
  animation-name: fadeIn;
  animation-duration: 200ms;
  width: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  color: var(--text-color);

  > .label {
    align-self: flex-start;
    padding: 0.1rem 2rem 0.1rem 0.5rem;
    font-size: 0.7rem;
    font-weight: bold;
    background-color: var(--light-background);
    box-sizing: border-box;
  }

  .output {
    padding: 0.5rem;
    background-color: transparent;
  }
}

.outputWrapper.love {
  background-color: var(--love-background);
}

.outputWrapper.career {
  background-color: var(--career-background);
}

.outputWrapper.general {
  background-color: var(--general-background);
}
