.chat {
  display: flex;
  position: fixed;
  right: 2vw;
  top: 0;
  padding: 2rem;
  width: 300px;
  height: 100vw;
  color: #fff;
  overflow-y: hidden;
  flex-direction: column;
  gap: 1rem;
  padding-top: 5rem;

  z-index: 400;
}
