.form {
  display: flex;
  flex-direction: column;
  background-color: var(--chat-background);
  animation-name: fadeIn;
  animation-duration: 200ms;
  width: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  color: var(--text-color);

  > .label {
    align-self: flex-start;
    padding: 0.1rem 2rem 0.1rem 0.5rem;
    font-size: 0.7rem;
    font-weight: bold;
    background-color: var(--light-background);
    box-sizing: border-box;
  }

  .input {
    background-color: var(--light-background);
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    color: #fff;
    outline: none;
  }
}
