.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0.5rem 1rem;
  backdrop-filter: var(--backdrop-filter);
  background-color: var(--header-background);
  color: var(--text-color);
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: auto auto 1fr;

  .actions {
    justify-self: end;
    display: flex;
    flex-direction: column;
  }
}
