.startBtn {
  display: block;
  position: fixed;
  padding: 0.25rem 1rem;
  background-color: var(--primary-background);
  font-size: 1.5rem;
  backdrop-filter: blur(10px);
  border: none;
  color: var(--text-color);

  z-index: 900;
}
