:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: url("/src/media/background.png") no-repeat center center fixed;
  background-size: contain;

  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#canvas {
  display: block;
  margin: 0;
  padding: 0;

  z-index: 300;
}

#video {
  display: none;
  position: fixed;
  top: 0;
}

#faceCanvas {
  display: none;
  position: fixed;
  bottom: 0;
}

#startBtn {
  display: block;
  position: fixed;
  /* top: 1rem;
  left: 1rem; */
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  border: 1px solid #fff;
  font-size: 2rem;

  z-index: 900;
}

#aiOutput {
  display: none;
  position: fixed;
  right: 2vw;
  background-color: #242424;
  width: 30vw;
  height: 20vh;
  opacity: 0.8;
  border-radius: 1rem;
  border: 1px solid #eee;
  color: #fff;
  padding: 1rem;
  overflow-y: scroll;

  z-index: 400;
}

#mainInput {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.87);
  border: none;
  padding: 0.5rem;
  color: #fff;
  outline: none;

  z-index: 400;
}

#mainInput:disabled {
  background-color: rgba(20, 20, 20, 0.87);
}

#newSession1 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;

  z-index: 100;
}
