@import url("https://fonts.googleapis.com/css2?family=Federant&family=Titillium+Web:ital@0;1&display=swap");

:root {
  font-family: "Titillium Web", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.2;
  font-weight: 400;
  font-size: calc(10px + (1vh + 1vw) / 2);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;

  --primary-color: rgba(55, 31, 54, 1);
  --secondary-color: rgba(175, 165, 174, 1);
  --background-dark: rgba(38, 27, 36);

  --text-color: #ffffff;

  --action-background: rgba(86, 124, 143, 0.7);
  --chat-background: rgba(69, 111, 133, 0.4);
  --light-background: rgba(168, 225, 255, 0.3);
}

input {
  font-family: "Federant", serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: var(--background-dark);
}

#root {
  min-width: 320px;
  min-height: 100vh;
  background: url("/src/media/background.webp") no-repeat center center fixed;
  background-size: contain;

  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  position: fixed;
  display: block;
  margin: 0;
  padding: 0;

  z-index: 300;
}

#video {
  display: none;
  position: fixed;
  top: 0;
}

#faceCanvas {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
}

#mainInput {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.87);
  border: none;
  padding: 0.5rem;
  color: #fff;
  outline: none;

  z-index: 400;
}

#mainInput:disabled {
  background-color: rgba(20, 20, 20, 0.87);
}

#newSession0,
#newSession1,
#newSession2,
#newSession3,
#newSession4,
#fortuneTellerImg {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;

  z-index: 100;
}

#microphoneImg {
  position: fixed;
  display: none;
  top: 2rem;
  right: 2rem;
  width: 2rem;

  z-index: 900;
}

#submitBtn {
  display: none;
}

#outputArea {
  display: flex;
  position: fixed;
  right: 2vw;
  width: 400;
  height: 300;
  color: #fff;
  overflow-y: scroll;
  flex-direction: column;
  gap: 1rem;
  padding-top: 5rem;

  z-index: 400;
}

.outputWrapper {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #fff; */
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.1);
  animation-name: fadeIn;
  animation-duration: 200ms;
  width: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

.outputWrapper > .outputLabel {
  /* border: 1px solid #fff; */
  border-radius: 0.2rem 0;
  align-self: flex-start;
  padding: 0.1rem 2rem 0.1rem 0.5rem;
  /* margin: -1px; */
  font-size: 0.7rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
  /* color: var(--primary-color); */
  /* width: 100%; */
  box-sizing: border-box;
  color: var(--secondary-color);
}

.outputWrapper > .output {
  padding: 0.5rem;
  color: #fff;
}

/* #test {
  position: fixed;
  top: 3rem;
} */

.ui {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}
